// *** DOUBLE CONTAINER ***



body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: row;

  &__sidebar {
    height: 100vh;
    min-width: 20%;
    background: #00835c;
  }
  &__contacts {
    background: pink;
  }
}

.grid {
  display: flex;
  flex-basis: calc(100% / 3);
  // flex-wrap: wrap;

  &__item {
      flex-grow: 1;
  }
}
